# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
__pycache__/
.coverage
*.xml
src/PermanentState/trace.txt
tests/integration/GeneratedTests/Protocols/4_max_5_roles_max_10_commands/example_queries.txt

tests/integration/GeneratedTests/Protocols/5_max_5_roles_max_5_commands/example_queries.txt

tests/integration/GeneratedTest/Protocols/5_max_5_roles_max_5_commands/example_queries.txt
